body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
   
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.section{
    padding: 8rem 0;

}
*******************
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}

#nav {
    /* */
   display: flex;
   gap: 0 32px ; /*menu item larına ana boşluklar verildi*/
   justify-content: end; /*elementleri tamamen saga dayıyor*/
   align-items: center; /*butonu  nav elemenlerinden yüksek fakt aynı sırada, hizalanması için*/   
}
#nav .nav-item {
   color: #f8f8f8;
   padding: 2px; /*tıklama alanı genişlesin diye ufak bir büyütme*/
   text-decoration: none; /*altındaki çizgileri kapatmak için*/
   
}
#nav .nav-item:hover {
   text-decoration: line-through;
}
main {
    padding: 20px;
}

.button{
    min-width: 140px; /*buton boyutu*/
    font-size: 25px;
    color: aliceblue;
    font-weight: 500; /*yazının kalın olması*/
    line-height: 38px; /* satır yüksekliği*/
    padding: 0 24px; /*yukarıdan ve aşağıdan 0 / sağ ve sol 24px */
    text-align: center; /*button içersindeki metin ortada*/
    background-color: #000000;
    display: inline-block
}
.button:hover {
    background-color: blanchedalmond; /*stil içinde tanımlı ortak değişken*/
}
a.button {
    text-decoration: none;  /*a taglarında default olarak alt çizgi var onu silsin*/  
    
}

*************************

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card1 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  
}
.card2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  
}

.card h2 {
    color: #333;
}

.card p {
    color: #666;
}

.read-more1 {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
*****
.section.white{
    background-color: rgb(255, 255, 255);
}
.section-title{
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.5;
    text-align: center;
    line-height: 1;/* farklı başlıkların boyutları, gereksiz boşlukların kapanması için 1 verildi*/
    margin-top: 0;
    margin-bottom: 2em;
}
.section-title::first-letter{
    color: rgb(245, 126, 126)
}


.comment {
    margin: 0 20px;
    padding: 22px;
    background-color: #ffffff;
}


.comment img   {
    display: inline-block;
    border-radius: 50%;

}
.comment h3{
    font-weight: 700;
    margin: 50px 0 0 50px;
    display: inline-block;
}
[class*="col-"] {
    padding-left: 32px;
    padding-right: 8px;
}
* {
    box-sizing: border-box;
}
.conta {
    
    max-width: 100%;
    margin-left: 20%;
    margin-right: auto;
    padding-left: 8px; 
    padding-right: 8px; /* konyetnarı ortalayan elementler*/
   
}
.row{
    display: flex; /* flex elementimiz oluyor*/
    flex-direction: row; /* başka bir yerden ezilmesine karşı row eklendi*/
    flex-wrap: wrap; /* taşan elementler aşağıya düşsün*/
    margin-left: -8px; /* boxlar arasında boşlukların sadece içeride olması ve kenardan verilmemesi için left right -8 verildi*/
    margin-right: -8px;
}
*****
#footer {
    padding: 40px 0;
    text-align: center;
    background-color: rgb(22, 82, 134);
}




