.hero-container{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    background-size: auto;
    
}
body {
    background-color: rgb(194, 82, 82);
    
}
.hero-content {
   font-size: 32px;
    text-align: center;
    color: rgb(23, 24, 24);
    padding: 150px 250px;
    background: rgb(87, 85, 85);
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.title{
    display: block;
}
.kayit {
    font-size: 20px;
}